In [1]:
import polars as pl
from pathlib import Path

In [24]:
# Load no Dataframe
DATA_FILE_PATH = Path('data/data_raw.csv')

df = pl.read_csv(DATA_FILE_PATH)

In [ ]:
# Salvando o dataframe
df.write_parquet('data/data_polars_copy.parquet')

In [50]:
# Entendendo o dataframe
df.describe()

shape: (9, 9)
┌────────────┬───────────┬─────────────┬───────────────┬───┬────────────┬──────────────────┬─────────────┬─────────────┐
│ statistic  ┆ vendas    ┆ id_cliente  ┆ idade_cliente ┆ … ┆ produto    ┆ data_ultima_comp ┆ preco       ┆ id_vendedor │
│ ---        ┆ ---       ┆ ---         ┆ ---           ┆   ┆ ---        ┆ ra               ┆ ---         ┆ ---         │
│ str        ┆ f64       ┆ f64         ┆ f64           ┆   ┆ str        ┆ ---              ┆ f64         ┆ f64         │
│            ┆           ┆             ┆               ┆   ┆            ┆ str              ┆             ┆             │
╞════════════╪═══════════╪═════════════╪═══════════════╪═══╪════════════╪══════════════════╪═════════════╪═════════════╡
│ count      ┆ 10000.0   ┆ 10000.0     ┆ 10000.0       ┆ … ┆ 10000      ┆ 10000            ┆ 10000.0     ┆ 10000.0     │
│ null_count ┆ 0.0       ┆ 0.0         ┆ 0.0           ┆ … ┆ 0          ┆ 0                ┆ 0.0         ┆ 0.0         │
│ mean       ┆ 49.876    ┆ 2990.2604   ┆ 53.2499       ┆ … ┆ null       ┆ null             ┆ 2523.182561 ┆ 149.5763    │
│ std        ┆ 28.611478 ┆ 1152.505295 ┆ 20.850538     ┆ … ┆ null       ┆ null             ┆ 1429.034195 ┆ 29.254825   │
│ min        ┆ 1.0       ┆ 1000.0      ┆ 18.0          ┆ … ┆ Headphones ┆ 2022-01-01       ┆ 50.52       ┆ 100.0       │
│ 25%        ┆ 25.0      ┆ 1996.0      ┆ 35.0          ┆ … ┆ null       ┆ null             ┆ 1281.13     ┆ 124.0       │
│ 50%        ┆ 50.0      ┆ 2952.0      ┆ 53.0          ┆ … ┆ null       ┆ null             ┆ 2537.81     ┆ 150.0       │
│ 75%        ┆ 75.0      ┆ 3990.0      ┆ 71.0          ┆ … ┆ null       ┆ null             ┆ 3761.02     ┆ 175.0       │
│ max        ┆ 99.0      ┆ 4999.0      ┆ 89.0          ┆ … ┆ Tablet     ┆ 2024-12-30       ┆ 4999.79     ┆ 199.0       │
└────────────┴───────────┴─────────────┴───────────────┴───┴────────────┴──────────────────┴─────────────┴─────────────┘

In [53]:
df.schema

Schema([('vendas', Int64),
        ('id_cliente', Int64),
        ('idade_cliente', Int64),
        ('data_compra', Date),
        ('produto', String),
        ('data_ultima_compra', String),
        ('preco', Float64),
        ('id_vendedor', Int64)])

In [54]:
df.shape

(10000, 8)

In [26]:
# Olha as 5 primeiras linhas
df.head(5)

shape: (5, 8)
┌───────┬─────────────┬──────────────┬───────────────┬────────────┬────────────────────┬─────────┬───────────┐
│ sales ┆ customer_id ┆ customer_age ┆ purchase_date ┆ product    ┆ last_purchase_date ┆ price   ┆ seller_id │
│ ---   ┆ ---         ┆ ---          ┆ ---           ┆ ---        ┆ ---                ┆ ---     ┆ ---       │
│ i64   ┆ i64         ┆ i64          ┆ str           ┆ str        ┆ str                ┆ f64     ┆ i64       │
╞═══════╪═════════════╪══════════════╪═══════════════╪════════════╪════════════════════╪═════════╪═══════════╡
│ 52    ┆ 1511        ┆ 86           ┆ 2024-10-07    ┆ Laptop     ┆ 2022-05-29         ┆ 2534.07 ┆ 199       │
│ 93    ┆ 4985        ┆ 52           ┆ 2023-12-10    ┆ Smartphone ┆ 2023-09-20         ┆ 1879.78 ┆ 182       │
│ 15    ┆ 3092        ┆ 69           ┆ 2024-01-06    ┆ TV         ┆ 2022-07-06         ┆ 4844.32 ┆ 112       │
│ 72    ┆ 4179        ┆ 31           ┆ 2023-02-02    ┆ Smartphone ┆ 2022-01-20         ┆ 4705.96 ┆ 147       │
│ 61    ┆ 3266        ┆ 80           ┆ 2024-01-09    ┆ Tablet     ┆ 2023-01-08         ┆ 4766.52 ┆ 159       │
└───────┴─────────────┴──────────────┴───────────────┴────────────┴────────────────────┴─────────┴───────────┘

In [27]:
# Olha as 10 ultimas linhas
df.tail(10)

shape: (10, 8)
┌───────┬─────────────┬──────────────┬───────────────┬────────────┬────────────────────┬─────────┬───────────┐
│ sales ┆ customer_id ┆ customer_age ┆ purchase_date ┆ product    ┆ last_purchase_date ┆ price   ┆ seller_id │
│ ---   ┆ ---         ┆ ---          ┆ ---           ┆ ---        ┆ ---                ┆ ---     ┆ ---       │
│ i64   ┆ i64         ┆ i64          ┆ str           ┆ str        ┆ str                ┆ f64     ┆ i64       │
╞═══════╪═════════════╪══════════════╪═══════════════╪════════════╪════════════════════╪═════════╪═══════════╡
│ 38    ┆ 3099        ┆ 57           ┆ 2024-12-01    ┆ Tablet     ┆ 2023-02-04         ┆ 4597.37 ┆ 193       │
│ 84    ┆ 1373        ┆ 63           ┆ 2024-11-29    ┆ Headphones ┆ 2024-05-20         ┆ 219.64  ┆ 118       │
│ 34    ┆ 4597        ┆ 57           ┆ 2024-03-13    ┆ Laptop     ┆ 2024-10-22         ┆ 520.78  ┆ 177       │
│ 44    ┆ 1930        ┆ 79           ┆ 2024-11-30    ┆ Headphones ┆ 2022-11-25         ┆ 4198.73 ┆ 126       │
│ 30    ┆ 1155        ┆ 35           ┆ 2024-09-27    ┆ TV         ┆ 2023-09-27         ┆ 2488.88 ┆ 129       │
│ 17    ┆ 2565        ┆ 29           ┆ 2023-02-06    ┆ Tablet     ┆ 2023-01-18         ┆ 4699.31 ┆ 144       │
│ 59    ┆ 2113        ┆ 31           ┆ 2024-10-22    ┆ Smartphone ┆ 2022-03-19         ┆ 2335.18 ┆ 177       │
│ 10    ┆ 4974        ┆ 78           ┆ 2023-04-16    ┆ Smartphone ┆ 2022-11-28         ┆ 4634.31 ┆ 130       │
│ 99    ┆ 3726        ┆ 29           ┆ 2024-09-06    ┆ TV         ┆ 2022-06-12         ┆ 1236.17 ┆ 135       │
│ 84    ┆ 3398        ┆ 44           ┆ 2023-08-20    ┆ Tablet     ┆ 2022-05-30         ┆ 3101.43 ┆ 138       │
└───────┴─────────────┴──────────────┴───────────────┴────────────┴────────────────────┴─────────┴───────────┘

In [28]:
# Renomeando o nome das colunas
rename_dict = {
    'sales': 'vendas',
    'customer_id': 'id_cliente',
    'customer_age': 'idade_cliente',
    'purchase_date': 'data_compra',
    'product': 'produto',
    'last_purchase_date': 'data_ultima_compra',
    'price': 'preco',
    'seller_id': 'id_vendedor'
}
df = df_polars.rename(rename_dict)
df.columns

['vendas',
 'id_cliente',
 'idade_cliente',
 'data_compra',
 'produto',
 'data_ultima_compra',
 'preco',
 'id_vendedor']

In [29]:
# seleciona uma coluna especifica
df.select(pl.col('produto'))

shape: (10_000, 1)
┌────────────┐
│ produto    │
│ ---        │
│ str        │
╞════════════╡
│ Laptop     │
│ Smartphone │
│ TV         │
│ Smartphone │
│ Tablet     │
│ …          │
│ Tablet     │
│ Smartphone │
│ Smartphone │
│ TV         │
│ Tablet     │
└────────────┘

In [30]:
# Mudando o tipo de uma coluna
df = df.with_columns(
    pl.col("data_compra").str.to_date().alias("data_compra")
)

In [33]:
# Faz um filtro para vendas após 2023-09-09
df.filter(pl.col("data_compra") >= pl.datetime(2023, 9, 9))

shape: (6_594, 8)
┌────────┬────────────┬───────────────┬─────────────┬────────────┬────────────────────┬─────────┬─────────────┐
│ vendas ┆ id_cliente ┆ idade_cliente ┆ data_compra ┆ produto    ┆ data_ultima_compra ┆ preco   ┆ id_vendedor │
│ ---    ┆ ---        ┆ ---           ┆ ---         ┆ ---        ┆ ---                ┆ ---     ┆ ---         │
│ i64    ┆ i64        ┆ i64           ┆ date        ┆ str        ┆ str                ┆ f64     ┆ i64         │
╞════════╪════════════╪═══════════════╪═════════════╪════════════╪════════════════════╪═════════╪═════════════╡
│ 52     ┆ 1511       ┆ 86            ┆ 2024-10-07  ┆ Laptop     ┆ 2022-05-29         ┆ 2534.07 ┆ 199         │
│ 93     ┆ 4985       ┆ 52            ┆ 2023-12-10  ┆ Smartphone ┆ 2023-09-20         ┆ 1879.78 ┆ 182         │
│ 15     ┆ 3092       ┆ 69            ┆ 2024-01-06  ┆ TV         ┆ 2022-07-06         ┆ 4844.32 ┆ 112         │
│ 61     ┆ 3266       ┆ 80            ┆ 2024-01-09  ┆ Tablet     ┆ 2023-01-08         ┆ 4766.52 ┆ 159         │
│ 87     ┆ 3362       ┆ 57            ┆ 2024-03-31  ┆ Laptop     ┆ 2024-12-21         ┆ 4729.64 ┆ 197         │
│ …      ┆ …          ┆ …             ┆ …           ┆ …          ┆ …                  ┆ …       ┆ …           │
│ 34     ┆ 4597       ┆ 57            ┆ 2024-03-13  ┆ Laptop     ┆ 2024-10-22         ┆ 520.78  ┆ 177         │
│ 44     ┆ 1930       ┆ 79            ┆ 2024-11-30  ┆ Headphones ┆ 2022-11-25         ┆ 4198.73 ┆ 126         │
│ 30     ┆ 1155       ┆ 35            ┆ 2024-09-27  ┆ TV         ┆ 2023-09-27         ┆ 2488.88 ┆ 129         │
│ 59     ┆ 2113       ┆ 31            ┆ 2024-10-22  ┆ Smartphone ┆ 2022-03-19         ┆ 2335.18 ┆ 177         │
│ 99     ┆ 3726       ┆ 29            ┆ 2024-09-06  ┆ TV         ┆ 2022-06-12         ┆ 1236.17 ┆ 135         │
└────────┴────────────┴───────────────┴─────────────┴────────────┴────────────────────┴─────────┴─────────────┘

In [41]:
# Contando as vendas por vendedor
df['id_vendedor'].value_counts(sort=True, normalize=True)

shape: (100, 2)
┌─────────────┬────────────┐
│ id_vendedor ┆ proportion │
│ ---         ┆ ---        │
│ i64         ┆ f64        │
╞═════════════╪════════════╡
│ 101         ┆ 0.0124     │
│ 193         ┆ 0.0124     │
│ 197         ┆ 0.0122     │
│ 122         ┆ 0.0118     │
│ 156         ┆ 0.0117     │
│ …           ┆ …          │
│ 172         ┆ 0.0085     │
│ 120         ┆ 0.0085     │
│ 149         ┆ 0.0085     │
│ 198         ┆ 0.0077     │
│ 116         ┆ 0.0075     │
└─────────────┴────────────┘

In [43]:
# Selecionando 3 colunas, id_cliente, produto, preço
df.select(['id_cliente', 'produto', 'preco'])

shape: (10_000, 3)
┌────────────┬────────────┬─────────┐
│ id_cliente ┆ produto    ┆ preco   │
│ ---        ┆ ---        ┆ ---     │
│ i64        ┆ str        ┆ f64     │
╞════════════╪════════════╪═════════╡
│ 1511       ┆ Laptop     ┆ 2534.07 │
│ 4985       ┆ Smartphone ┆ 1879.78 │
│ 3092       ┆ TV         ┆ 4844.32 │
│ 4179       ┆ Smartphone ┆ 4705.96 │
│ 3266       ┆ Tablet     ┆ 4766.52 │
│ …          ┆ …          ┆ …       │
│ 2565       ┆ Tablet     ┆ 4699.31 │
│ 2113       ┆ Smartphone ┆ 2335.18 │
│ 4974       ┆ Smartphone ┆ 4634.31 │
│ 3726       ┆ TV         ┆ 1236.17 │
│ 3398       ┆ Tablet     ┆ 3101.43 │
└────────────┴────────────┴─────────┘

In [44]:
df[['id_cliente', 'produto', 'preco']]

shape: (10_000, 3)
┌────────────┬────────────┬─────────┐
│ id_cliente ┆ produto    ┆ preco   │
│ ---        ┆ ---        ┆ ---     │
│ i64        ┆ str        ┆ f64     │
╞════════════╪════════════╪═════════╡
│ 1511       ┆ Laptop     ┆ 2534.07 │
│ 4985       ┆ Smartphone ┆ 1879.78 │
│ 3092       ┆ TV         ┆ 4844.32 │
│ 4179       ┆ Smartphone ┆ 4705.96 │
│ 3266       ┆ Tablet     ┆ 4766.52 │
│ …          ┆ …          ┆ …       │
│ 2565       ┆ Tablet     ┆ 4699.31 │
│ 2113       ┆ Smartphone ┆ 2335.18 │
│ 4974       ┆ Smartphone ┆ 4634.31 │
│ 3726       ┆ TV         ┆ 1236.17 │
│ 3398       ┆ Tablet     ┆ 3101.43 │
└────────────┴────────────┴─────────┘

In [46]:
# Selecionando apenas as colunas que comecem com id
df.select(pl.selectors.starts_with("id"))

shape: (10_000, 3)
┌────────────┬───────────────┬─────────────┐
│ id_cliente ┆ idade_cliente ┆ id_vendedor │
│ ---        ┆ ---           ┆ ---         │
│ i64        ┆ i64           ┆ i64         │
╞════════════╪═══════════════╪═════════════╡
│ 1511       ┆ 86            ┆ 199         │
│ 4985       ┆ 52            ┆ 182         │
│ 3092       ┆ 69            ┆ 112         │
│ 4179       ┆ 31            ┆ 147         │
│ 3266       ┆ 80            ┆ 159         │
│ …          ┆ …             ┆ …           │
│ 2565       ┆ 29            ┆ 144         │
│ 2113       ┆ 31            ┆ 177         │
│ 4974       ┆ 78            ┆ 130         │
│ 3726       ┆ 29            ┆ 135         │
│ 3398       ┆ 44            ┆ 138         │
└────────────┴───────────────┴─────────────┘

In [49]:
df[[col for col in df.columns if col.startswith("id")]]

shape: (10_000, 3)
┌────────────┬───────────────┬─────────────┐
│ id_cliente ┆ idade_cliente ┆ id_vendedor │
│ ---        ┆ ---           ┆ ---         │
│ i64        ┆ i64           ┆ i64         │
╞════════════╪═══════════════╪═════════════╡
│ 1511       ┆ 86            ┆ 199         │
│ 4985       ┆ 52            ┆ 182         │
│ 3092       ┆ 69            ┆ 112         │
│ 4179       ┆ 31            ┆ 147         │
│ 3266       ┆ 80            ┆ 159         │
│ …          ┆ …             ┆ …           │
│ 2565       ┆ 29            ┆ 144         │
│ 2113       ┆ 31            ┆ 177         │
│ 4974       ┆ 78            ┆ 130         │
│ 3726       ┆ 29            ┆ 135         │
│ 3398       ┆ 44            ┆ 138         │
└────────────┴───────────────┴─────────────┘

In [55]:
# estatisticas
df['vendas'].mean()

49.876

In [57]:
# olhando a quantidade de nulos
df.null_count().mean()

shape: (1, 8)
┌────────┬────────────┬───────────────┬─────────────┬─────────┬────────────────────┬───────┬─────────────┐
│ vendas ┆ id_cliente ┆ idade_cliente ┆ data_compra ┆ produto ┆ data_ultima_compra ┆ preco ┆ id_vendedor │
│ ---    ┆ ---        ┆ ---           ┆ ---         ┆ ---     ┆ ---                ┆ ---   ┆ ---         │
│ f64    ┆ f64        ┆ f64           ┆ f64         ┆ f64     ┆ f64                ┆ f64   ┆ f64         │
╞════════╪════════════╪═══════════════╪═════════════╪═════════╪════════════════════╪═══════╪═════════════╡
│ 0.0    ┆ 0.0        ┆ 0.0           ┆ 0.0         ┆ 0.0     ┆ 0.0                ┆ 0.0   ┆ 0.0         │
└────────┴────────────┴───────────────┴─────────────┴─────────┴────────────────────┴───────┴─────────────┘

In [59]:
# Preenchendo os valores faltantes
df = df.fill_nan(-9)

In [61]:
# Exluindo os valores nulos
df = df.drop_nans()

In [63]:
# Removendo linhas duplicadas
df = df.unique()  # df.unique(subset=["coluna"], keep="first")

In [64]:
# Criando uma coluna
df = df.with_columns(
    (pl.col('vendas') * pl.col('preco')).alias('total')
)
df['total']

shape: (10_000,)
Series: 'total' [f64]
[
	2444.2
	72754.05
	63697.53
	54755.55
	35589.24
	…
	168625.0
	98371.68
	107447.24
	430788.16
	284046.96
]

In [79]:
# Passando uma função em uma coluna
def foobar(value: float) -> int:
    return value / 100

df.with_columns(
    pl.col("preco").map_elements(foobar, return_dtype=pl.Float64).alias('temp')
)['temp']

C:\Users\luiz_\AppData\Local\Temp\ipykernel_432\2630503332.py:6: PolarsInefficientMapWarning:
Expr.map_elements is significantly slower than the native expressions API.
Only use if you absolutely CANNOT implement your logic otherwise.
Replace this expression...
  - pl.col("preco").map_elements(foobar)
with this one instead:
  + pl.col("preco") / 100

  pl.col("preco").map_elements(foobar, return_dtype=pl.Float64).alias('temp')

shape: (10_000,)
Series: 'temp' [f64]
[
	1.111
	14.2655
	48.9981
	12.1679
	13.1812
	…
	22.1875
	11.1786
	14.7188
	48.9532
	49.8328
]

In [81]:
df.group_by('produto').agg(pl.col('vendas').mean())

shape: (5, 2)
┌────────────┬───────────┐
│ produto    ┆ vendas    │
│ ---        ┆ ---       │
│ str        ┆ f64       │
╞════════════╪═══════════╡
│ Smartphone ┆ 49.419587 │
│ TV         ┆ 49.422042 │
│ Headphones ┆ 50.137189 │
│ Tablet     ┆ 50.130661 │
│ Laptop     ┆ 50.294057 │
└────────────┴───────────┘

In [82]:
df.group_by(['produto', 'id_vendedor']).agg(pl.col('idade_cliente').mean())

shape: (500, 3)
┌────────────┬─────────────┬───────────────┐
│ produto    ┆ id_vendedor ┆ idade_cliente │
│ ---        ┆ ---         ┆ ---           │
│ str        ┆ i64         ┆ f64           │
╞════════════╪═════════════╪═══════════════╡
│ Laptop     ┆ 151         ┆ 56.85         │
│ Tablet     ┆ 188         ┆ 52.066667     │
│ Tablet     ┆ 182         ┆ 52.318182     │
│ Tablet     ┆ 144         ┆ 45.347826     │
│ TV         ┆ 181         ┆ 45.375        │
│ …          ┆ …           ┆ …             │
│ Smartphone ┆ 124         ┆ 53.647059     │
│ Tablet     ┆ 134         ┆ 52.2          │
│ Smartphone ┆ 136         ┆ 52.954545     │
│ Smartphone ┆ 194         ┆ 48.95         │
│ Headphones ┆ 135         ┆ 55.526316     │
└────────────┴─────────────┴───────────────┘