In [43]:
import polars as pl
import pandas as pd

In [40]:
data = {
    'id': [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 1, 1, 1, 2, 2, 2],
    'anomes': [202201, 202201, 202201, 202203, 202203, 202203, 202403, 202403, 202403,
               202301, 202301, 202301, 202206, 202206, 202206, 202206, 202206, 202206],
    'a': [1, 1, 3, 2, 4, 5, 5, 6, 2, 32, 45, 5, 67, 763, 3, 32, 2, 32],
    'b': ['g', 'a', 'a', 'g', 's', 'k', 'l', 'h', 'r', 's', 'd', 'r', 'h', 'n', 'v', 'c', 'x', 'e'],
    'c': [10, 10, 10, 22, 22, 22, 3, 3, 3, 4, 4, 4, 8, 8, 8, 9, 9, 9],
    'd': [202112, 202111, 20210, 202202, 202201, 202112, 202402, 202401, 202312,
          202212, 202211, 202210, 202205, 202204, 202203, 202205, 202204, 202203]
}

In [41]:
df_pd = pd.DataFrame(data)

In [44]:
df_pl = pl.DataFrame(data)

In [46]:
print(df_pl)

shape: (18, 6)
┌─────┬────────┬─────┬─────┬─────┬────────┐
│ id  ┆ anomes ┆ a   ┆ b   ┆ c   ┆ d      │
│ --- ┆ ---    ┆ --- ┆ --- ┆ --- ┆ ---    │
│ i64 ┆ i64    ┆ i64 ┆ str ┆ i64 ┆ i64    │
╞═════╪════════╪═════╪═════╪═════╪════════╡
│ 1   ┆ 202201 ┆ 1   ┆ g   ┆ 10  ┆ 202112 │
│ 1   ┆ 202201 ┆ 1   ┆ a   ┆ 10  ┆ 202111 │
│ 1   ┆ 202201 ┆ 3   ┆ a   ┆ 10  ┆ 20210  │
│ 2   ┆ 202203 ┆ 2   ┆ g   ┆ 22  ┆ 202202 │
│ 2   ┆ 202203 ┆ 4   ┆ s   ┆ 22  ┆ 202201 │
│ …   ┆ …      ┆ …   ┆ …   ┆ …   ┆ …      │
│ 1   ┆ 202206 ┆ 763 ┆ n   ┆ 8   ┆ 202204 │
│ 1   ┆ 202206 ┆ 3   ┆ v   ┆ 8   ┆ 202203 │
│ 2   ┆ 202206 ┆ 32  ┆ c   ┆ 9   ┆ 202205 │
│ 2   ┆ 202206 ┆ 2   ┆ x   ┆ 9   ┆ 202204 │
│ 2   ┆ 202206 ┆ 32  ┆ e   ┆ 9   ┆ 202203 │
└─────┴────────┴─────┴─────┴─────┴────────┘

In [47]:
# tornando cada id e anomes ao invés de 3 linhas em 1 linha

In [55]:
(
    df_pd
    .assign(idx=df.groupby(["id", "anomes"]).cumcount() + 1)
    .pivot(index=["id", "anomes"], columns="idx", values=["a", "b", "c"])
    .reset_index()
)

    id  anomes   a           b         c
idx              1    2   3  1  2  3   1   2   3
0    1  202201   1    1   3  g  a  a  10  10  10
1    1  202206  67  763   3  h  n  v   8   8   8
2    2  202203   2    4   5  g  s  k  22  22  22
3    2  202206  32    2  32  c  x  e   9   9   9
4    3  202403   5    6   2  l  h  r   3   3   3
5    4  202301  32   45   5  s  d  r   4   4   4

In [59]:
df_pl

shape: (18, 6)
┌─────┬────────┬─────┬─────┬─────┬────────┐
│ id  ┆ anomes ┆ a   ┆ b   ┆ c   ┆ d      │
│ --- ┆ ---    ┆ --- ┆ --- ┆ --- ┆ ---    │
│ i64 ┆ i64    ┆ i64 ┆ str ┆ i64 ┆ i64    │
╞═════╪════════╪═════╪═════╪═════╪════════╡
│ 1   ┆ 202201 ┆ 1   ┆ g   ┆ 10  ┆ 202112 │
│ 1   ┆ 202201 ┆ 1   ┆ a   ┆ 10  ┆ 202111 │
│ 1   ┆ 202201 ┆ 3   ┆ a   ┆ 10  ┆ 20210  │
│ 2   ┆ 202203 ┆ 2   ┆ g   ┆ 22  ┆ 202202 │
│ 2   ┆ 202203 ┆ 4   ┆ s   ┆ 22  ┆ 202201 │
│ …   ┆ …      ┆ …   ┆ …   ┆ …   ┆ …      │
│ 1   ┆ 202206 ┆ 763 ┆ n   ┆ 8   ┆ 202204 │
│ 1   ┆ 202206 ┆ 3   ┆ v   ┆ 8   ┆ 202203 │
│ 2   ┆ 202206 ┆ 32  ┆ c   ┆ 9   ┆ 202205 │
│ 2   ┆ 202206 ┆ 2   ┆ x   ┆ 9   ┆ 202204 │
│ 2   ┆ 202206 ┆ 32  ┆ e   ┆ 9   ┆ 202203 │
└─────┴────────┴─────┴─────┴─────┴────────┘

In [74]:
(
    df_pl
    .with_columns(
        pl.cum_count("id").over(["id", "anomes"]).alias("idx")
    )
    .unpivot(index=["id", "anomes", "idx"], on=["a", "b", "c"])
    .pivot(
        values="value",
        index=["id", "anomes"],
        on=["variable", "idx"]
    )
    .sort(["id", "anomes"])
)

shape: (6, 11)
┌─────┬────────┬─────────┬─────────┬───┬─────────┬─────────┬─────────┬─────────┐
│ id  ┆ anomes ┆ {"a",1} ┆ {"a",2} ┆ … ┆ {"b",3} ┆ {"c",1} ┆ {"c",2} ┆ {"c",3} │
│ --- ┆ ---    ┆ ---     ┆ ---     ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ i64 ┆ i64    ┆ str     ┆ str     ┆   ┆ str     ┆ str     ┆ str     ┆ str     │
╞═════╪════════╪═════════╪═════════╪═══╪═════════╪═════════╪═════════╪═════════╡
│ 1   ┆ 202201 ┆ 1       ┆ 1       ┆ … ┆ a       ┆ 10      ┆ 10      ┆ 10      │
│ 1   ┆ 202206 ┆ 67      ┆ 763     ┆ … ┆ v       ┆ 8       ┆ 8       ┆ 8       │
│ 2   ┆ 202203 ┆ 2       ┆ 4       ┆ … ┆ k       ┆ 22      ┆ 22      ┆ 22      │
│ 2   ┆ 202206 ┆ 32      ┆ 2       ┆ … ┆ e       ┆ 9       ┆ 9       ┆ 9       │
│ 3   ┆ 202403 ┆ 5       ┆ 6       ┆ … ┆ r       ┆ 3       ┆ 3       ┆ 3       │
│ 4   ┆ 202301 ┆ 32      ┆ 45      ┆ … ┆ r       ┆ 4       ┆ 4       ┆ 4       │
└─────┴────────┴─────────┴─────────┴───┴─────────┴─────────┴─────────┴─────────┘