In [1]:
import polars as pl
import numpy as np

In [2]:
# pl.show_versions()

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [3]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [6]:
# polars do not use indexes
data['index'] = labels
df = pl.DataFrame(data=data)

In [9]:
# Add a index
# offset must be an integer
df.with_row_index("id", offset=0).head()

shape: (5, 6)
┌─────┬────────┬─────┬────────┬──────────┬───────┐
│ id  ┆ animal ┆ age ┆ visits ┆ priority ┆ index │
│ --- ┆ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ u32 ┆ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞═════╪════════╪═════╪════════╪══════════╪═══════╡
│ 0   ┆ cat    ┆ 2.5 ┆ 1      ┆ yes      ┆ a     │
│ 1   ┆ cat    ┆ 3.0 ┆ 3      ┆ yes      ┆ b     │
│ 2   ┆ snake  ┆ 0.5 ┆ 2      ┆ no       ┆ c     │
│ 3   ┆ dog    ┆ NaN ┆ 3      ┆ yes      ┆ d     │
│ 4   ┆ dog    ┆ 5.0 ┆ 2      ┆ no       ┆ e     │
└─────┴────────┴─────┴────────┴──────────┴───────┘

In [10]:
# See the first data
df.head()

shape: (5, 5)
┌────────┬─────┬────────┬──────────┬───────┐
│ animal ┆ age ┆ visits ┆ priority ┆ index │
│ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞════════╪═════╪════════╪══════════╪═══════╡
│ cat    ┆ 2.5 ┆ 1      ┆ yes      ┆ a     │
│ cat    ┆ 3.0 ┆ 3      ┆ yes      ┆ b     │
│ snake  ┆ 0.5 ┆ 2      ┆ no       ┆ c     │
│ dog    ┆ NaN ┆ 3      ┆ yes      ┆ d     │
│ dog    ┆ 5.0 ┆ 2      ┆ no       ┆ e     │
└────────┴─────┴────────┴──────────┴───────┘

In [11]:
print(df)

shape: (10, 5)
┌────────┬─────┬────────┬──────────┬───────┐
│ animal ┆ age ┆ visits ┆ priority ┆ index │
│ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞════════╪═════╪════════╪══════════╪═══════╡
│ cat    ┆ 2.5 ┆ 1      ┆ yes      ┆ a     │
│ cat    ┆ 3.0 ┆ 3      ┆ yes      ┆ b     │
│ snake  ┆ 0.5 ┆ 2      ┆ no       ┆ c     │
│ dog    ┆ NaN ┆ 3      ┆ yes      ┆ d     │
│ dog    ┆ 5.0 ┆ 2      ┆ no       ┆ e     │
│ cat    ┆ 2.0 ┆ 3      ┆ no       ┆ f     │
│ snake  ┆ 4.5 ┆ 1      ┆ no       ┆ g     │
│ cat    ┆ NaN ┆ 1      ┆ yes      ┆ h     │
│ dog    ┆ 7.0 ┆ 2      ┆ no       ┆ i     │
│ dog    ┆ 3.0 ┆ 1      ┆ no       ┆ j     │
└────────┴─────┴────────┴──────────┴───────┘

In [15]:
# Describe the dataframe
print(df.describe())

shape: (9, 6)
┌────────────┬────────┬──────┬──────────┬──────────┬───────┐
│ statistic  ┆ animal ┆ age  ┆ visits   ┆ priority ┆ index │
│ ---        ┆ ---    ┆ ---  ┆ ---      ┆ ---      ┆ ---   │
│ str        ┆ str    ┆ f64  ┆ f64      ┆ str      ┆ str   │
╞════════════╪════════╪══════╪══════════╪══════════╪═══════╡
│ count      ┆ 10     ┆ 10.0 ┆ 10.0     ┆ 10       ┆ 10    │
│ null_count ┆ 0      ┆ 0.0  ┆ 0.0      ┆ 0        ┆ 0     │
│ mean       ┆ null   ┆ NaN  ┆ 1.9      ┆ null     ┆ null  │
│ std        ┆ null   ┆ NaN  ┆ 0.875595 ┆ null     ┆ null  │
│ min        ┆ cat    ┆ 0.5  ┆ 1.0      ┆ no       ┆ a     │
│ 25%        ┆ null   ┆ 2.5  ┆ 1.0      ┆ null     ┆ null  │
│ 50%        ┆ null   ┆ 4.5  ┆ 2.0      ┆ null     ┆ null  │
│ 75%        ┆ null   ┆ 7.0  ┆ 3.0      ┆ null     ┆ null  │
│ max        ┆ snake  ┆ 7.0  ┆ 3.0      ┆ yes      ┆ j     │
└────────────┴────────┴──────┴──────────┴──────────┴───────┘

In [13]:
# this works like pandas iloc
# taking the 3nd row 4rd column (you need to return a number because in python the count starts at 0!)
df.row(2)[3]

'no'

In [14]:
# this works like pandas df.iloc[:3, :]
# take the first 3 rows and all columns
df.slice(0, 3)

shape: (3, 5)
┌────────┬─────┬────────┬──────────┬───────┐
│ animal ┆ age ┆ visits ┆ priority ┆ index │
│ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞════════╪═════╪════════╪══════════╪═══════╡
│ cat    ┆ 2.5 ┆ 1      ┆ yes      ┆ a     │
│ cat    ┆ 3.0 ┆ 3      ┆ yes      ┆ b     │
│ snake  ┆ 0.5 ┆ 2      ┆ no       ┆ c     │
└────────┴─────┴────────┴──────────┴───────┘

In [24]:
# Selects only the desired columns
df.select(["animal", "age"])
df[["animal", "age"]]

shape: (10, 2)
┌────────┬─────┐
│ animal ┆ age │
│ ---    ┆ --- │
│ str    ┆ f64 │
╞════════╪═════╡
│ cat    ┆ 2.5 │
│ cat    ┆ 3.0 │
│ snake  ┆ 0.5 │
│ dog    ┆ NaN │
│ dog    ┆ 5.0 │
│ cat    ┆ 2.0 │
│ snake  ┆ 4.5 │
│ cat    ┆ NaN │
│ dog    ┆ 7.0 │
│ dog    ┆ 3.0 │
└────────┴─────┘

In [17]:
df.select(["animal", "age"]).slice(5, 5)

shape: (5, 2)
┌────────┬─────┐
│ animal ┆ age │
│ ---    ┆ --- │
│ str    ┆ f64 │
╞════════╪═════╡
│ cat    ┆ 2.0 │
│ snake  ┆ 4.5 │
│ cat    ┆ NaN │
│ dog    ┆ 7.0 │
│ dog    ┆ 3.0 │
└────────┴─────┘

In [15]:
# Explains about dataframe
df.schema

Schema([('animal', String),
        ('age', Float64),
        ('visits', Int64),
        ('priority', String),
        ('index', String)])

**9.** Select only the rows where the number of visits is greater than 3.

In [18]:
df.filter(df['visits'] > 3)

shape: (0, 5)
┌────────┬─────┬────────┬──────────┬───────┐
│ animal ┆ age ┆ visits ┆ priority ┆ index │
│ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞════════╪═════╪════════╪══════════╪═══════╡
└────────┴─────┴────────┴──────────┴───────┘

In [21]:
df.filter(pl.col('visits') > 3)

shape: (0, 5)
┌────────┬─────┬────────┬──────────┬───────┐
│ animal ┆ age ┆ visits ┆ priority ┆ index │
│ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞════════╪═════╪════════╪══════════╪═══════╡
└────────┴─────┴────────┴──────────┴───────┘

**10.** Select the rows where the age is missing, i.e. it is `NaN`.

In [28]:
# Use is_nan or is_not_nan
df.filter(pl.col('age').is_nan())

shape: (2, 5)
┌────────┬─────┬────────┬──────────┬───────┐
│ animal ┆ age ┆ visits ┆ priority ┆ index │
│ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞════════╪═════╪════════╪══════════╪═══════╡
│ dog    ┆ NaN ┆ 3      ┆ yes      ┆ d     │
│ cat    ┆ NaN ┆ 1      ┆ yes      ┆ h     │
└────────┴─────┴────────┴──────────┴───────┘

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [30]:
df.filter(
    (pl.col('animal') == 'cat') & 
    (pl.col('age') < 3)
)

shape: (2, 5)
┌────────┬─────┬────────┬──────────┬───────┐
│ animal ┆ age ┆ visits ┆ priority ┆ index │
│ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞════════╪═════╪════════╪══════════╪═══════╡
│ cat    ┆ 2.5 ┆ 1      ┆ yes      ┆ a     │
│ cat    ┆ 2.0 ┆ 3      ┆ no       ┆ f     │
└────────┴─────┴────────┴──────────┴───────┘

**12.** Select the rows the age is between 2 and 4 (inclusive).

In [31]:
df.filter(pl.col('age').is_between(2, 4))

shape: (4, 5)
┌────────┬─────┬────────┬──────────┬───────┐
│ animal ┆ age ┆ visits ┆ priority ┆ index │
│ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞════════╪═════╪════════╪══════════╪═══════╡
│ cat    ┆ 2.5 ┆ 1      ┆ yes      ┆ a     │
│ cat    ┆ 3.0 ┆ 3      ┆ yes      ┆ b     │
│ cat    ┆ 2.0 ┆ 3      ┆ no       ┆ f     │
│ dog    ┆ 3.0 ┆ 1      ┆ no       ┆ j     │
└────────┴─────┴────────┴──────────┴───────┘

**13.** Change the age in row 'f' to 1.5.

In [50]:
df = df.with_columns(
    pl.when(pl.col('index') == 'f')
    .then(1.5)
    .otherwise(pl.col('age'))
    .alias('age')
)

**14.** Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [34]:
df['visits'].sum()

19

**15.** Calculate the mean age for each different animal in `df`.

In [64]:
# It is necessary to remove the nulls because it does not remove them alone
print(df.drop_nans().group_by("animal").agg(
    pl.col("age").mean().alias("mean_age")
))

shape: (3, 2)
┌────────┬──────────┐
│ animal ┆ mean_age │
│ ---    ┆ ---      │
│ str    ┆ f64      │
╞════════╪══════════╡
│ snake  ┆ 2.5      │
│ dog    ┆ 5.0      │
│ cat    ┆ 2.333333 │
└────────┴──────────┘

**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [52]:
df.columns

['animal', 'age', 'visits', 'priority', 'index']

In [55]:
# you need to create a new dataframe and then concat it
new_row = {
    'animal': 'dog',
    'age': 5.5,
    'visits': 2,
    'priority': 'no',
    'index': 'k'
}
new_df = pl.DataFrame(new_row)
df = pl.concat([df, new_df])

In [63]:
print(df)

shape: (10, 5)
┌────────┬─────┬────────┬──────────┬───────┐
│ animal ┆ age ┆ visits ┆ priority ┆ index │
│ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞════════╪═════╪════════╪══════════╪═══════╡
│ cat    ┆ 2.5 ┆ 1      ┆ yes      ┆ a     │
│ cat    ┆ 3.0 ┆ 3      ┆ yes      ┆ b     │
│ snake  ┆ 0.5 ┆ 2      ┆ no       ┆ c     │
│ dog    ┆ NaN ┆ 3      ┆ yes      ┆ d     │
│ dog    ┆ 5.0 ┆ 2      ┆ no       ┆ e     │
│ cat    ┆ 1.5 ┆ 3      ┆ no       ┆ f     │
│ snake  ┆ 4.5 ┆ 1      ┆ no       ┆ g     │
│ cat    ┆ NaN ┆ 1      ┆ yes      ┆ h     │
│ dog    ┆ 7.0 ┆ 2      ┆ no       ┆ i     │
│ dog    ┆ 3.0 ┆ 1      ┆ no       ┆ j     │
└────────┴─────┴────────┴──────────┴───────┘

In [58]:
df = df.filter(pl.col('index') != 'k')

**17.** Count the number of each type of animal in `df`.

In [62]:
print(df.group_by("animal").agg(
    pl.len().alias("count")
))

shape: (3, 2)
┌────────┬───────┐
│ animal ┆ count │
│ ---    ┆ ---   │
│ str    ┆ u32   │
╞════════╪═══════╡
│ dog    ┆ 4     │
│ snake  ┆ 2     │
│ cat    ┆ 4     │
└────────┴───────┘

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [72]:
print(df)

shape: (10, 5)
┌────────┬─────┬────────┬──────────┬───────┐
│ animal ┆ age ┆ visits ┆ priority ┆ index │
│ ---    ┆ --- ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64 ┆ i64    ┆ str      ┆ str   │
╞════════╪═════╪════════╪══════════╪═══════╡
│ cat    ┆ 2.5 ┆ 1      ┆ yes      ┆ a     │
│ cat    ┆ 3.0 ┆ 3      ┆ yes      ┆ b     │
│ snake  ┆ 0.5 ┆ 2      ┆ no       ┆ c     │
│ dog    ┆ NaN ┆ 3      ┆ yes      ┆ d     │
│ dog    ┆ 5.0 ┆ 2      ┆ no       ┆ e     │
│ cat    ┆ 1.5 ┆ 3      ┆ no       ┆ f     │
│ snake  ┆ 4.5 ┆ 1      ┆ no       ┆ g     │
│ cat    ┆ NaN ┆ 1      ┆ yes      ┆ h     │
│ dog    ┆ 7.0 ┆ 2      ┆ no       ┆ i     │
│ dog    ┆ 3.0 ┆ 1      ┆ no       ┆ j     │
└────────┴─────┴────────┴──────────┴───────┘

In [73]:
# turns nan into null
df = df.with_columns([
    pl.col(col).fill_nan(None).alias(col)
    for col in df.columns
    if df[col].dtype in [pl.Float32, pl.Float64]
])

In [75]:
print(df.sort(
    by=["age", "visits"],
    descending=[True, False],
    nulls_last=True
))

shape: (10, 5)
┌────────┬──────┬────────┬──────────┬───────┐
│ animal ┆ age  ┆ visits ┆ priority ┆ index │
│ ---    ┆ ---  ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64  ┆ i64    ┆ str      ┆ str   │
╞════════╪══════╪════════╪══════════╪═══════╡
│ dog    ┆ 7.0  ┆ 2      ┆ no       ┆ i     │
│ dog    ┆ 5.0  ┆ 2      ┆ no       ┆ e     │
│ snake  ┆ 4.5  ┆ 1      ┆ no       ┆ g     │
│ dog    ┆ 3.0  ┆ 1      ┆ no       ┆ j     │
│ cat    ┆ 3.0  ┆ 3      ┆ yes      ┆ b     │
│ cat    ┆ 2.5  ┆ 1      ┆ yes      ┆ a     │
│ cat    ┆ 1.5  ┆ 3      ┆ no       ┆ f     │
│ snake  ┆ 0.5  ┆ 2      ┆ no       ┆ c     │
│ cat    ┆ null ┆ 1      ┆ yes      ┆ h     │
│ dog    ┆ null ┆ 3      ┆ yes      ┆ d     │
└────────┴──────┴────────┴──────────┴───────┘

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [84]:
df = df.with_columns(
    pl.col('priority')
    .replace({'yes': True, 'no': False})
)

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [89]:
df = df.with_columns(
    pl.when(pl.col('animal') == 'snake')
    .then(pl.lit('python'))
    .otherwise(pl.col('animal'))
    .alias('animal')
)

shape: (10, 5)
┌────────┬──────┬────────┬──────────┬───────┐
│ animal ┆ age  ┆ visits ┆ priority ┆ index │
│ ---    ┆ ---  ┆ ---    ┆ ---      ┆ ---   │
│ str    ┆ f64  ┆ i64    ┆ str      ┆ str   │
╞════════╪══════╪════════╪══════════╪═══════╡
│ cat    ┆ 2.5  ┆ 1      ┆ true     ┆ a     │
│ cat    ┆ 3.0  ┆ 3      ┆ true     ┆ b     │
│ python ┆ 0.5  ┆ 2      ┆ false    ┆ c     │
│ dog    ┆ null ┆ 3      ┆ true     ┆ d     │
│ dog    ┆ 5.0  ┆ 2      ┆ false    ┆ e     │
│ cat    ┆ 1.5  ┆ 3      ┆ false    ┆ f     │
│ python ┆ 4.5  ┆ 1      ┆ false    ┆ g     │
│ cat    ┆ null ┆ 1      ┆ true     ┆ h     │
│ dog    ┆ 7.0  ┆ 2      ┆ false    ┆ i     │
│ dog    ┆ 3.0  ┆ 1      ┆ false    ┆ j     │
└────────┴──────┴────────┴──────────┴───────┘

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (*hint: use a pivot table*).

In [94]:
print(
    df.pivot(
        values="age",
        index="animal",
        on="visits",
        aggregate_function="mean"
    )
    .fill_null(0)
)

shape: (3, 4)
┌────────┬─────┬──────┬─────┐
│ animal ┆ 1   ┆ 3    ┆ 2   │
│ ---    ┆ --- ┆ ---  ┆ --- │
│ str    ┆ f64 ┆ f64  ┆ f64 │
╞════════╪═════╪══════╪═════╡
│ cat    ┆ 2.5 ┆ 2.25 ┆ 0.0 │
│ snake  ┆ 4.5 ┆ 0.0  ┆ 0.5 │
│ dog    ┆ 3.0 ┆ 0.0  ┆ 6.0 │
└────────┴─────┴──────┴─────┘

**22.** You have a DataFrame `df` with a column 'A' of integers. For example:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

How do you filter out rows which contain the same integer as the row immediately above?

You should be left with a column containing the following values:

```python
1, 2, 3, 4, 5, 6, 7
```

In [4]:
df = pl.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df.filter(
    pl.col("A") != pl.col("A").shift(1)
)

shape: (6, 1)
┌─────┐
│ A   │
│ --- │
│ i64 │
╞═════╡
│ 2   │
│ 3   │
│ 4   │
│ 5   │
│ 6   │
│ 7   │
└─────┘

**23.** Given a DataFrame of random numeric values:
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # this is a 5x3 DataFrame of float values
```

how do you subtract the row mean from each element in the row?

In [5]:
df = pl.DataFrame(np.random.random(size=(5, 3)))

In [8]:
df.with_columns(
    pl.all().map_batches(lambda col: col - col.mean())
)

shape: (5, 3)
┌───────────┬───────────┬───────────┐
│ column_0  ┆ column_1  ┆ column_2  │
│ ---       ┆ ---       ┆ ---       │
│ f64       ┆ f64       ┆ f64       │
╞═══════════╪═══════════╪═══════════╡
│ -0.423819 ┆ -0.015384 ┆ 0.060255  │
│ -0.533993 ┆ -0.285804 ┆ -0.434727 │
│ 0.332095  ┆ 0.115482  ┆ -0.06606  │
│ 0.427336  ┆ 0.20065   ┆ 0.157477  │
│ 0.198381  ┆ -0.014943 ┆ 0.283055  │
└───────────┴───────────┴───────────┘