In [6]:
import pandas as pd
from datetime import date, timedelta

In [7]:
data = {
    "id": list(range(1, 11)),
    "value": [10.5, 20.1, 30.2, 40.8, 50.0, 60.3, 70.7, 80.9, 90.4, 100.6],
    "name": ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"],
    "active": [True, False, True, True, False, True, False, True, False, True],
    "date": [date(2024, 1, 1) + timedelta(days=i) for i in range(10)]
}

In [9]:
df = pd.DataFrame(data)
df

   id  value name  active        date
0   1   10.5    A    True  2024-01-01
1   2   20.1    B   False  2024-01-02
2   3   30.2    C    True  2024-01-03
3   4   40.8    D    True  2024-01-04
4   5   50.0    E   False  2024-01-05
5   6   60.3    F    True  2024-01-06
6   7   70.7    G   False  2024-01-07
7   8   80.9    H    True  2024-01-08
8   9   90.4    I   False  2024-01-09
9  10  100.6    J    True  2024-01-10

In [10]:
df.dtypes

id          int64
value     float64
name       object
active       bool
date       object
dtype: object